@{
    Layout = "_MainLayout";
    ViewData["Title"] = "TeamMembers";
}

<div class="hero-container">
    <div>    
        <h1>TeamMember</h1>
        <div class="teammembers-container">
        <partial name="Partials/_Users" />
   </div>
    </div>
</div>