@model ProjectViewModel

@{
    Layout = "_MainLayout";
    ViewData["Title"] = "TeamMembers";
}

<div class="hero-container">
    <div>    
        <h1>TeamMember</h1>
            <div class="teammembers-container">
                <div class="cards">
                @foreach (var member in Model.TeamMembers)
                    {
                        <partial name="Partials/_Users" model="member" />
                    }
                </div> 
            </div>
    </div>
</div>