<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAppAgency</title>
    <script type="importmap"></script>
    <script src="https://kit.fontawesome.com/6d23212c3c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebAppAgency.styles.css" asp-append-version="true" />
</head>
<body>
   
       @RenderBody()
      
</body>
</html>
