@model ProjectViewModel



<div id="overlay" class="overlay">
    <div class="overlay-content">
        <span class="close-btn" id="closeOverlayBtn"><i class="fa-solid fa-xmark"></i></span>
        <div>
            <div>
                <h3>Add Project</h3>
            </div>
           
            
            <form method="post" enctype="multipart/form-data" asp-controller="Projects" asp-action="Projects" novalidate>
                <div class="upload">
                    <div class="image-previewer">
                        <div class="icon-circle">
                            <i class="fa-solid fa-camera"></i>
                                <img src="" class="image-preview" />
                                <input asp-for="Form.Image" accept="image/*" class="hide" type="file" />
                        </div>
                    </div>
                </div>
                <div>
                    <label asp-for="Form.ProjectName" class="signin-label"></label>
                    <input asp-for="Form.ProjectName" class="addproject-input" />
                    <span asp-validation-for="Form.ProjectName"></span>
                </div>
                <div>
                    <label asp-for="Form.ClientName" class="signin-label"></label>
                    <input asp-for="Form.ClientName" class="addproject-input" />
                    <span asp-validation-for="Form.ClientName"></span>
                </div>
                <div>
                    <label asp-for="Form.Description" class="signin-label"></label>
                    <div class="description-textarea">
                        <textarea id="description" asp-for="Form.Description"></textarea>
                        <div id="description-editor" class="description-editor"></div>
                        <div id="description-toolbar">
                            <span class="ql-formats">
                                <button class="ql-bold"></button>
                                <button class="ql-italic"></button>
                                <button class="ql-underline"></button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="status-date">
                    <div>
                        <label asp-for="Form.StartDate" class="signin-label"></label>
                        <input asp-for="Form.StartDate" class="start-end-date" />
                        <span asp-validation-for="Form.StartDate"></span>
                    </div>
                    <div>
                        <label asp-for="Form.EndDate" class="signin-label"></label>
                        <input asp-for="Form.EndDate" class="start-end-date" />
                        <span asp-validation-for="Form.EndDate"></span>
                    </div>
                </div>
                <div>
                    <label asp-for="Form.Members" class="signin-label"></label>
                    <select asp-for="Form.Members"
                            asp-items="@(new MultiSelectList(Model.TeamMembers, "Id", "FullName"))"
                            multiple
                            class="addproject-input-selector"
                            size="4">
                   </select>
                </div>
                    <div> 
                        <label asp-for="Statuses" class="signin-label"></label>
                        @Html.DropDownListFor(model => model.Form.StatusId, new SelectList(Model.Statuses, "Id", "StatusName"), "- - Select Status - -", new { @class = "addproject-input" })
                        <span asp-validation-for="Statuses"></span>
                    </div>
                <div>
                    <label asp-for="Form.Budget" class="signin-label"></label>
                    <input type="number" asp-for="Form.Budget" class="addproject-input" />
                    <span asp-validation-for="Form.Budget"></span>
                </div>
                <div>
                    <button type="submit" class="create-btn">Create</button>
                </div>
           </form>
           
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        handleDescription('#description-editor', '#description-toolbar', 'Form.Description', '@Html.Raw(ViewBag.RichContent ?? "")')
    })
    
    
    function handleDescription(descriptionEditorId,  descriptionToolId, textareaId, content) {
        const textarea = document.getElementById(textareaId)

        const quill = new Quill(descriptionEditorId, {
            modules: {
                syntax: true,
                toolbar: descriptionToolId
            },
            placeholder: 'Type something...',
            theme: 'snow'
        })
        
        if(content)
            quill.root.innerHTML = content;

        quill.on('text-change', () => {
            textarea.value = quill.root.innerHTML;
        })
    }
</script>