@using Domain.Models
@model Project

<div class="card-box">
    <div class="inside-box">
         <div class="grid-logo"> 
            <img src="/Images/ProjectIcon1.svg" />
         </div>
         <div class="grid-h6">
            <h6>@Model.ProjectName</h6>
            <p>@Model.ClientName</p>
         </div>
        <div class="grid-meatballs project-meatballs">
            <div class="meatball-box">
            <div class="meatballs"></div>
            <div class="meatballs"></div>
            </div>
            <div class="project-meatballs-dropdown-content">
                <div>
                    <button class="meatball-btn">
                        <i class="fa-regular fa-pen-to-square"></i>
                        <p>Edit</p>
                    </button>
                </div>
                <div class="meatball-grayline"></div>
                <div>
                    <form asp-action="DeleteProject" asp-controller="Projects" method="post">
                        <input type="hidden" name="id" value="@Model.Id" />
                        <button type="submit" class="meatball-btn" onclick="return confirm('Are you sure?');">
                        <i class="fa-solid fa-trash"></i>
                        <p>Delete Project</p>
                        </button>
                    </form>
                </div>  
            </div>
         </div>
         <div class="grid-headtext">
            <p>@Model.Description</p>
         </div>
         <div class="grid-time">
         <div class="time-left">
                <i class="fa-solid fa-clock"></i>
                <p>22 days left</p>
         </div>
        </div>
         <div class="grid-portrait">
         
         </div>
    </div>
</div>