

<div class="card-box">
    <div class="inside-box">
         <div class="grid-logo"> 
            <img src="/Images/ProjectIcon1.svg" />
         </div>
         <div class="grid-h6">
            <h6>App Development</h6>
            <p>Slack Technologies, Inc.</p>
         </div>
        <div class="grid-meatballs project-meatballs">
             <i class="fa-solid fa-ellipsis-vertical meatballs"></i>
         </div>
         <div class="grid-headtext">
            <p>Create a mobile application on iOS and Android devices.</p>
         </div>
         <div class="grid-time">
         <div class="time-left">
                <i class="fa-solid fa-clock"></i>
                <p>1 week left</p>
         </div>
        </div>
         <div class="grid-portrait">
              <img src="~/Images/ProjectProfile1.svg" />
            <img src="~/Images/ProjectProfile1.svg" />
            <img src="~/Images/ProjectProfile1.svg" />
         </div>
    </div>
</div>