<div id="logout-overlay" class="overlay-logout">
    <div class="overlay-content-logout">
        <span class="close-btn" id="closelogoutBtn">X</span>
        
        <div class="profile-settings">
            <img src="/Images/portrait1.svg" />
            <h6>Ulf Gudmundsson</h6>
        </div>
    
    <div class="darkmode-settings">
        <i class="fa-solid fa-cloud-sun"></i>
        <p>Dark Mode</p>
    </div>
    <div class="grayline"></div>
        <div class="logout-settings">   
            <i class="fa-solid fa-person-through-window"></i>
            <a class="already-account" asp-controller="Auth" asp-action="SignOut">SignOut</a>
         </div>
    </div>
</div>