@using Domain.Models
@model AppUser

<div class="user-card-box">
    <div class="inside-box">
        <div class="user-logo">
            <img src="/Images/UserProfile1.svg" />
        </div>
        <div class="user-title">
            <h4>@Model.FullName</h4>
        </div>
        <div class="grid-meatballs project-meatballs">
            <div class="meatball-box">
                <div class="meatballs"></div>
                <div class="meatballs"></div>
            </div>
            <div class="project-meatballs-dropdown-content">
                <div>
                    <button class="meatball-btn">
                        <i class="fa-regular fa-pen-to-square"></i>
                        <p>Edit</p>
                    </button>
                </div>
                <div class="meatball-grayline"></div>
                <div>
                    <button class="meatball-btn">
                        <i class="fa-solid fa-trash"></i>
                        <p>Delete Project</p>
                    </button>
                </div>
            </div>
        </div>
        <div class="user-jobtask">
            <div class="user-border">
            <p> ? Job Title ? </p>
            </div>
        </div>
        <div class="info-profile">
            <p>@Model.Email</p>
            <p>? Mobile ?</p>
        </div>
        <div class="message-btn-box">
            <button class="message-btn">
               <p>Message</p>
           </button>
        </div>
    </div>
</div>