<div class="user-card-box">
    <div class="inside-box">
        <div class="user-logo">
            <img src="/Images/UserProfile1.svg" />
        </div>
        <div class="user-title">
            <h4>Ulf Gudmundsson</h4>
        </div>
        <div class="user-meatballs user-grid-meatballs">
            <button class="user-meatball"></button>
        </div>
        <div class="user-jobtask">
            <div class="user-border">
            <p>Frontend Dev</p>
            </div>
        </div>
        <div class="info-profile">
            <p> u.gudmundsson@gmail.com</p>
            <p> +46 70 81 82 119</p>
        </div>
        <div class="message-btn-box">
            <button class="message-btn">
               <p>Message</p>
           </button>
        </div>
    </div>
</div>