@using Domain.Models
@model AppUser

<div class="user-card-box">
    <div class="inside-box">
        <div class="user-logo">
            <img src="/Images/UserProfile1.svg" />
        </div>
        <div class="user-title">
            <h4>@Model.FullName</h4>
        </div>
        <div class="grid-meatballs-members project-meatballs">
            <div class="meatball-box">
                <div class="meatballs"></div>
                <div class="meatballs"></div>
            </div>
            <div class="teammember-meatballs-dropdown-content">
                <div>
                    <form asp-action="UpdateProject" asp-controller="Projects" method="post">
                        <button class="meatball-btn">
                            <i class="fa-regular fa-pen-to-square"></i>
                            <p>Edit</p>
                        </button>
                    </form>
                </div>
                <div class="meatball-grayline"></div>
                <form asp-action="DeleteUser" asp-controller="TeamMembers" method="post">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <button type="submit" class="meatball-btn-delete meatball-btn" onclick="return confirm('Are you sure?');">
                        <i class="fa-solid fa-trash"></i>
                        <p>Delete Project</p>
                    </button>
                </form>
            </div>
        </div>
        <div class="user-jobtask">
            <div class="user-border">
            <p> ? Job Title ? </p>
            </div>
        </div>
        <div class="info-profile">
            <p>@Model.Email</p>
            <p>? Mobile ?</p>
        </div>
        <div class="message-btn-box">
            <button class="message-btn">
               <p>Message</p>
           </button>
        </div>
    </div>
</div>